{
    "google_project":    "YOUR PROJECT ID",
    "google_zone":       "us-central1-a",
    "machine_type":      "n1-highmem-4",
    "machine_image":     "IMAGE ID TO CREATE",
    "accelerator_type":  "nvidia-tesla-k80",
    "accelerator_count": 1,
    "disk_type":         "pd-ssd",
    "disk_size":         "20",
    "source_type":       "n1-standard-2",
    "source_image":      "ubuntu-1804-lts",
    "storage_bucket":    "GCS BUCKET TO USE",
    "storage_class":     "REGIONAL",
    "storage_location":  "us-central1",
    "ssh_user":          "LINUX USERNAME",
    "ssh_pubkeys": [
        "ssh-ed25519 AAAA...",
        "ssh-ed25519 AAAA..."
    ]
}
